{% extends "jupusApp/base.html" %}
{% load static %}
{% block title %}Client List{% endblock %}

{% block content %}
<div class="container">
    <h1>Client List</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>
                    <a href="{% url 'client_detail' client.id %}">View</a>
                    <a href="{% url 'update_client' client.id %}">Edit</a>
                    <a href="{% url 'delete_client' client.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
